.innerContainer {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  /* align-items: center; */
}
.auth {
  width: 50%;
  padding: 40px;
}

.auth h3 {
  color: #000;
  font-family: var(--font-whyte);
  font-size: 24px;
}
.authText h5 {
  color: #2a2a2a;
  font-family: var(--font-whyte);
  font-size: 32px;
  margin-top: 153px;
}
.authText p {
  color: #828282;
  font-family: var(--font-whyte);
  font-size: 16px;
}
.google {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Stroke, #eaeaea);
  background: #fff;
  display: flex;
  padding: 13px 0px 14px 0px;
  margin-top: 48px;
}
.google p {
  color: #2a2a2a;
  font-family: var(--font-whyte);
  font-size: 16px;
}
.line {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #828282;
  font-family: var(--font-whyte);
  font-size: 14px;
  margin: 40px 0;
  gap: 10px;
}
.line hr {
  width: 80%;
  height: 1px;
  background-color: #000;
  margin: 10px 0;
}
.form h4 {
  color: #333;
  font-family: var(--font-whyte);
  font-size: 16px;
  margin-bottom: 8px;
}
.form input {
  width: 100%;
  padding: 16px 0px 15px 16px;
  border: none;
}
.input {
  display: flex;
  justify-content: space-between;
  width: 95%;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Stroke, #eaeaea);
  background: var(--White, #fff);
  padding: 0 10px;
}
.form input:focus {
  outline: none;
}
.labelFlex {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}
.labelFlex p {
  color: #ff5959;
  font-family: var(--font-whyte);
  font-size: 14px;
}
.btn {
  width: 95%;
  border-radius: 4px;
  border: 0.3px solid var(--Primary-1, #654de4);
  background: var(--Pri-Main, #1453ff);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  align-items: center;
  margin-top: 48px;
  color: var(--White, #fff);
  font-family: var(--font-whyte);
  font-size: 16px;
}
.create {
  color: #828282;
  font-family: var(--font-whyte);
  font-size: 16px;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.create a {
  color: #1453ff;
  font-family: var(--font-whyte);
  font-size: 16px;
  font-weight: bolder;
  letter-spacing: 0.48px;
}
.innerContainer2 {
  width: 50%;
  /* background-color: hsl(224, 100%, 54%); */
}
@media screen and (max-width: 768px) {
  .innerContainer2 {
    display: none;
  }
  .innerContainer {
    flex: none;
  }
  .auth {
    width: auto;
    margin: auto;
  }
}
@media screen and (max-width: 425px) {
  .authText h5 {
    margin-top: 35px;
  }
  .auth {
    padding: 40px 16px;
  }
  .line {
    margin: 32px 0;
  }
}
