.about {
  background-color: var(--Container, #0a1a2a);
  align-items: center;
  text-align: center;
}
.pad{
  height: 88px;
}
.heroText {
  width: 85%;
  margin: 0 auto;
}
.heroText h4 {
  color: #7df7ff;
  font-family: var(--font-space-grotesk);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  letter-spacing: 1.44px;
  text-transform: uppercase;
  padding-top: 88px;
}
.heroText h1 {
  color: #fff;
  margin: 16px 0;
  text-align: center;
  font-family: var(--font-space-grotesk);
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 113.6%; /* 68.16px */
}
.heroText p {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-family: var(--font-space-grotesk);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  padding-bottom: 100px;
}
@media screen and (max-width: 835px) {
  .heroText {
    width: 90%;
  }
}
@media screen and (max-width: 790px) {
  .heroText h1 {
    font-size: 48px;
  }
  .heroText p {
    font-size: 18px;
  }
  .heroText h4 {
    padding-top: 42px;
  }
}
@media screen and (max-width: 420px) {
  .heroText h1 {
    font-size: 32px;
  }
  .heroText p {
    font-size: 16px;
    padding-bottom: 34px;
  }
  .heroText h4 {
    padding-top: 27px;
  }
}

.statement {
  background-color: #fff;
}
.statementContent {
  padding: 205px 0;
}
.vision {
  display: flex;
  width: 90%;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  gap: 32px;
}
.visionText {
  width: 686px;
  /* padding: 32px 16px; */
}
.vision h1 {
  color: #333;
  font-family: var(--font-space-grotesk);
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 75%; /* 36px */
}
.vision p {
  color: #333;
  font-family: var(--font-montserrat);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  margin-top: 16px;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .vision {
    flex-direction: column;
  }
  .visionText {
    width: 80%;
    /* padding: 32px 16px; */
  }
  .statementContent {
    padding: 150px 0;
  }
}
@media screen and (max-width: 425px) {
  .visionText {
    width: 90%;
  }
  .visionText h1 {
    font-size: 32px;
  }
  .statementContent {
    padding: 45px 0;
  }
}

.mission {
  display: flex;
  width: 90%;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  gap: 32px;
  margin-top: 80px;
}
.missionText {
  width: 686px;
  /* padding: 32px 16px; */
}
.mission h1 {
  color: #333;
  font-family: var(--font-space-grotesk);
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 75%; /* 36px */
}
.mission p {
  color: #333;
  font-family: var(--font-montserrat);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  margin-top: 16px;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .mission {
    flex-direction: column-reverse;
    margin-top: 60px;
  }
  .missionText {
    width: 80%;
    /* padding: 32px 16px; */
  }
  .statementContent {
    padding: 150px 0;
  }
}
@media screen and (max-width: 425px) {
  .missionText {
    width: 90%;
  }
  .missionText h1 {
    font-size: 32px;
  }
  .statementContent {
    padding: 45px 0;
  }
  .mission {
    margin-top: 48px;
  }
}
