.about {
  width: 1280px;
  margin: 0 auto;
}
.intro {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 48px;
}
.intro h1 {
  position: relative;
  font-family: var(--font-whyte);
  font-size: 74px;
  line-height: 87px;
  width: 470px;
}
.intro p {
  font-family: var(--font-whyte);
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  width: 717px;
  color: #414141;
}
.intro span {
  color: #1453ff;
}

.intro h1::before {
  content: "";
  color: #121927;
  animation: words 20s infinite;
}

.intro h1::after {
  content: "";
  position: absolute;
  width: calc(100%);
  height: 50%;
  background-color: #fff;
  border-left: 2px solid #ff7f50;
  right: 8px;
  animation: cursor 0.8s infinite, typing 20s steps(14) infinite;
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 0px);
  }
}
.mission {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  margin: 132px auto;
  gap: 64px;
}
.mission h4 {
  font-family: var(--font-whyte);
  font-size: 48px;
  font-weight: 500;
  line-height: 53px;
  width: 768px;
  color: #101828;
}
.mission p {
  font-family: var(--font-whyte);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 448px;
  color: #667085;
}
.story {
  width: 1280px;
  margin: 0 auto;
}
.story h4 {
  font-family: var(--font-whyte);
  font-size: 48px;
  font-weight: 500;
  line-height: 53px;
  margin-bottom: 64px;
  color: #101828;
}
.story p {
  font-family: var(--font-whyte);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #667085;
  width: 608px;
}
.storyFlex {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  gap: 64px;
  margin-bottom: 132px;
}
.teamText {
  width: 580px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}
.teamText h3 {
  font-family: var(--font-whyte);
  font-size: 48px;
  font-weight: 500;
  line-height: 53px;
  color: #101828;
  margin-bottom: 20px;
}
.teamText p {
  font-family: var(--font-whyte);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #667085;
}
.galleryFlex {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  gap: 32px;
  margin: 64px auto;
}
.card h5 {
  font-family: var(--font-whyte);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #101828;
  margin-top: 25px;
}
.card span {
  font-family: var(--font-whyte);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #1453ff;
}
.social {
  margin-top: 25px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.donation {
  width: 1280px;
  margin: 0 auto;
  background-color: #121927;
  background-image: url("/star.svg");
  background-position: top right;
  background-repeat: no-repeat;
  padding: 93px 0;
  border-radius: 16px;
  position: relative;
}
.donateText {
  width: 854px;
  text-align: center;
  margin: 0 auto;
}

.donateText h3 {
  font-family: var(--font-whyte);
  font-size: 40px;
  font-weight: 500;
  line-height: 58px;
  color: white;
}
.donateText p {
  font-family: var(--font-whyte);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #f8f8f8;
  margin: 16px auto;
  width: 536px;
  text-align: none;
}
.donateText button {
  padding: 20px 40px;
  background-color: #1453ff;
  font-family: var(--font-whyte);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: white;
  border-radius: 8px;
}
.gallerySlide{
  display: none;
}
@media screen and (max-width: 1440px) {
  .about {
    width: 100%;
  }
  .intro {
    width: 90%;
  }
  .mission {
    width: 90%;
  }
  .donation {
    width: 100%;
  }
  .story {
    width: 90%;
  }
  .storyFlex {
    width: 100%;
  }
  .donation {
    width: 90%;
  }
  .donationFlex {
    width: 90%;
  }
  .galleryFlex {
    width: 90%;
  }
  .storyFlex {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .intro h1 {
    font-size: 54px;
  }
  .mission h4 {
    width: 50%;
  }
  .mission p {
    width: 50%;
  }
}
@media screen and (max-width: 950px) {
  .donateText {
    width: 90%;
  }
  .donateText p {
    width: 90%;
  }
  .star{
    display: none;
  }
}
@media screen and (max-width: 768px) {
.intro{
  display: block;
  width: 95%;
}
.intro h1{
  line-height: 63.49px;
}
.intro p{
  width: 100%;
  margin-top: 24px;
}
.mission{
  display: block;
  width: 95%;
}
.mission h4{
  width: 100%;
  /* font-size: 32px; */
}
.mission p{
  width: 100%;
  margin-top: 24px ;
  /* font-size: 16px; */
}
.mission{
  margin: 54px auto;

}
.storyFlex{
  display: block;
  width: 95%;
}
.storyFlex p{
  width: 100%;
}
.galleryFlex{
  display: none;
}
.gallerySlide{
  display: block;
}
.teamText{
  width: 95%;
}
.teamText p{
  width: 100%;
}

}
