@tailwind base;
@tailwind components;
@tailwind utilities;



/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



/* .slick-track{
    display: flex!important;
    gap: 24px;
} */

.slick-arrow, .slick-prev{
    display: none;
}
.slick-arrow, .slick-prev::before{
    display: none;
}
.slick-arrow, .slick-next{
    display: none;
}
.slick-arrow, .slick-next::before{
    display: none;
}
button.slick-arrow.slick-prev{
    display: none;
}
button.slick-arrow.slick-next{
    display: none;
}