.header {
  /* position: relative; */
  background: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.navbar {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 20px 0;
}
.nav li {
  color: #667085;
  /* text-align: center; */
  font-family: var(--font-whyte);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: right;
}
.nav li:hover {
  border-bottom: 2px solid #1453ff;
  font-size: larger;
}
.nav ul {
  /* width: 50%; */
  /* text-align: left; */
  display: flex;
  /* justify-content: space-between; */
  gap: 42px;
}
.nav ul li {
  /* padding: 10px; */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  gap: 42px;
  animation: textDrop 1s ease-out;
}
.btnFlex {
  display: flex;
}
.btnFlex button {
  padding: 10px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  color: #667085;
  font-family: var(--font-whyte);
  font-size: 18px;
  font-weight: 500;
  animation: textDrop 1s ease-out;
}
.nav button:hover {
  color: #fff;
  background: #1453ff;
  font-size: larger;
}
.navMobile ul {
  color: #fff;
  text-align: center;
  font-family: var(--font-whyte);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: space-between;
  gap: 42px;
}

.dropdown {
  display: none;
  justify-items: center;
  align-items: center;
}
@keyframes textDrop {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1440px) {
  .navbar {
    width: 90%;
  }
}
@media screen and (max-width: 880px) {
  .nav {
    width: 65%;
  }
  .navMobile ul {
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
  .navMobile {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 90px;
    background-color: #1453ff;
    width: 100%;
    align-items: start;
    /* display: none; */
    animation: textDrop 1s ease-out;

    padding: 60px 0;
  }
  .navMobile ul {
    flex-direction: column;
    text-align: center;
    color: #fff;
    font-family: var(--font-whyte);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    animation: textDrop 1s ease-out;
  }
  .navMobile ul li {
    font-size: 20px;
    padding: 10px;
  }
  .navMobile ul li:hover {
    border-bottom: 2px solid #fff;
  }
  .btnFlex button:hover {
    color: #1453ff;
    background: #fff;
    border-radius: none;
  }
  .btnFlex {
    flex-direction: column;
    justify-content: center;
    margin-top: 12px;
  }
  .btnFlex button {
    color: #fff;
    font-size: 20px;
    animation: textDrop 1s ease-out;
  }
  .navbar {
    width: 95%;
  }

  .dropdown {
    display: flex;
    align-items: center;
  }
}
