.hero {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding-bottom: 68px;
}

.heroText {
  width: 575px;
  margin-top: 48px;
}

.heroText span {
  /* font-size: 56px; */
  font-family: var(--font-whyte);
  color: #9c7d00;
}
.heroText h3 {
  font-size: 56px;
  font-family: var(--font-whyte);
  color: #333;
  font-weight: 700;
  line-height: 72px;
  
}
.heroText p {
  color: #858585;
  font-family: var(--font-whyte);
  font-size: 20px;
  font-weight: 500;
  margin-top: 24px ;
  line-height: 30px;

}
.formFlex {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  justify-items: center;
  margin-top: 32px;
  margin-bottom: 8px;
}
.errorMsg span{
  font-family: var(--font-whyte);
  font-size: 12px;
  color: red;
}

@media screen and (max-width: 768px) {
  .heroImage {
    display: none;
  }
  .hero {
    flex-direction: column;
  }
}

.form h4 {
  color: var(--333333, #333);
  font-family: var(--font-montserrat);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 12px;
}

.form input {
  width: 181px;
  padding: 13.5px 12px 13.5px 16px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Stroke, #d9dce1);
  outline: none;
  font-family: var(--font-whyte);
  font-size: 14px;
  color: #828282;
}
.form2 input {
  width: 388px;
  padding: 13.5px 12px 13.5px 16px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Stroke, #d9dce1);
  outline: none;
  font-family: var(--font-whyte);
  font-size: 14px;
  color: #828282;
}
.form2 select {
  width: 577px;
  padding: 13.5px 12px 13.5px 16px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Stroke, #d9dce1);
  outline: none;
  font-family: var(--font-inter);
  font-size: 14px;
  color: #828282;
  margin-bottom: 8px;

}
.button {
  display: flex;
  width: 577px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  background: #1453ff;
  color: #fff;
  font-family: var(--font-whyte);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
cursor: pointer;
}
.talents {
  background-color: #fbfbfb;
  padding: 45px 0;
}
.talents h4 {
  font-family: var(--font-whyte);
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 48px;
}
.slider{
  /* display: flex; */
  /* gap: 24px; */
}
.card {
  /* width: 410px; */
  padding: 24px;
  border: 1px solid #dddd;
  border-radius: 16px;
  text-align: center;
  /* margin-right: 24px; */

}
.card h5 {
  font-family: var(--font-whyte);
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-top: 16px;
  line-height: 29.05px;
}
.card span {
  font-family: var(--font-whyte);
  font-size: 18px;
  font-weight: 400;
  color: #a5a5a5;
  line-height: 21.78px;
  padding-top: 4px;
  padding-bottom: 16px;
}
.card p {
  font-family: var(--font-whyte);
  font-size: 18px;
  font-weight: 400;
  color: #4f4f4f;
  margin-bottom: 24px;
}
.slider {
  width: 1275px;
  align-items: center;
  margin: auto;

  
}

@media screen and (max-width: 1440px){
  .hero{
    width: 90%;
  }
  .slider{
    width: 90%;
  }
}

@media screen and (max-width: 1024px) {
  .heroText{
    width: 50%;
  }
  .form input {
    width: 100%;
   
  }
  .form2 select{
    width: 100%;
  }
  .form2 input{
    width: 100%;
  }
  .button {
    width: 100%;
  }
  .heroText h3{
    /* font-size: 40px; */
    line-height: 50px;


  }
  .heroText span{
    /* font-size: 40px; */
    line-height: 50px;

  }
  .heroText p{
    font-size: 16px;
    line-height: 25px;

  }
}
@media screen and (max-width: 768px) {
.hero{
  width: 95%;
}
.heroText{
  width: 577px;
}
.formFlex{
  width: 577px;
}
.form input {
  width: 181px;
 
}
.form2 input{
  width: 388px;
}
.button {
  width: 577px;
}
}
@media screen and (max-width: 600px) {
  .button {
    width: 100%;
  }
  .formFlex {
    display: block;
    width: 100%;
  }
  .form input {
    width: 100%;
    margin-bottom: 8px;
  }
  .form2 input{
    width: 100%;
  }
  .heroText {
    width: 100%;
  }
  .hero{
    padding-bottom: 45px;
  }
 .card{
  padding: 12px;
 }
}
@media screen and (max-width: 425px) {
  .heroText h3{
    font-size: 32px;
    line-height: 41.6px;
  }
  .heroText span{
    font-size: 32px;
    line-height: 41.6px;

    
  }
  .heroText p{
    font-size: 14px;
    line-height: 21px;

  }
  .talents h4{
    font-size: 28px;
    margin-bottom: 24px;
    width: 95%;
  }
}


